*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: 'Jost',sans-serif;
}
.container{
    max-width: 1280px;
    margin:0 auto;
}
.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    transition:  all 1s;
}
.header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600; 
    padding: 20px 0;
}
.header .header_logo a{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
}
.header .header_logo i{
    color: #009f4d;
    color: #fff;
}
.header .header_logo .header_logo_detal{
    font-size: 14px;
    display: block;
    padding-left: 46px;
    font-weight: 600;
    color: #fff;
}
.header .header_mid a{
    text-decoration: none;
    padding: 0 10px;
    font-size: 15px;
    color: #dcdee0;
    transition:  all 1s;
}
.header .header_bot .fa-magnifying-glass{
    width: 45px;
    height: 45px;
    font-size: 16px;
    background: #009f4d;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
}
.header .header_bot .fa-moon{
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
.sticky{
    background-color: #fff;
    color: #000;
    box-shadow: 0 5 15px rgba(255, 255, 255, 0.2);
    padding: 10px 0;
}
.sticky .header_logo span{
    color: #3f3a64;
}
.sticky .header_logo .header_logo_detal{
    color: #3f3a64;
}
.sticky .header_logo .fa-align-left{
    color:#3f3a64;
}
.sticky .header_mid a{
    color: #3f3a64;
}
.sticky .header_bot .fa-moon{
    color: #3f3a64 ;
}
header .header_mid a:hover{
    color: #fff;
}
.carousel{
    background-image: url(/img/b1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    position: relative;
    z-index: 0;
}
.carousel .container{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    height: 100%;  
}
.carousel h1{
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 18px;
    color: white;
}
.carousel p{
    font-size: 20px;
    margin-top: 24px;
    color: #fff;
    
}
.carousel .btn{
    font-size: 16px;
    padding: 15px 50px;
    background-color: #00a63f;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
    transition: all 1s;
    width: 200px;
}
.carousel::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(126, 49, 49, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.carousel .btn:hover{
    background-color: #248750;
}
.carousel .arrow_left{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border-radius: 50%;
    font-weight: 600;
    border: 1px solid transparent;
    box-shadow: 0 0 15px rgba(0 , 0, 0, 0.15);
    cursor: pointer;
    position: absolute;
    right: 100px;
    bottom: 20px;
    font-weight: 600;
    font-size: 18px;
}
.carousel .arrow_right{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border-radius: 50%;
    font-weight: 600;
    border: 1px solid transparent;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    position: absolute;
    right: 30px;
    bottom: 20px;
    font-weight: 600;
    font-size: 18px;
}
.about{
    padding: 155px 0;
}
.about .container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
}
.about .about_col img{
    width: 100%;
    border-radius: 10px;
}
.about .about_col p{
    font-size: 14px;
    color: #7e7d7d;
    text-transform: uppercase;
    font-weight: 600;
}
.about .about_col h1{
    font-size: 35px;
    color: #3f3a64;
}
.about .about_col span{
    font-size:  17px;
    color: #666666;
}
.about ul {
    list-style-type: none;
    font-size: 18px;
    color: #3f3a64;
    font-weight: 600;
}
.about ul a{
    text-decoration: none;
}
.about ul a i{
    color: #009f4d;
    margin-right: 10px;
}
.about ul li{
    margin: 10px 0;;
}
.about .col2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about .col3{
    padding-bottom: 50px;
}
.about .col4 {
    padding-top: 40px;
}
.about .col4 .about_img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}