*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: 'Jost',sans-serif;
}
.container{
    max-width: 1280px;
    margin:0 auto;
}
.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    transition:  all 1s;
    padding: 20px 0;
}
.header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600; 
    
}
.header .header_logo a{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
}
.header .header_logo i{
    color: #009f4d;
    color: #fff;
}
.header .header_logo .header_logo_detal{
    font-size: 14px;
    display: block;
    padding-left: 46px;
    font-weight: 600;
    color: #fff;
}
.header .header_mid a{
    text-decoration: none;
    padding: 0 10px;
    font-size: 15px;
    color: #dcdee0;
    transition:  all 1s;
    display: inline-block;
}
.header .header_bot .fa-magnifying-glass{
    width: 45px;
    height: 45px;
    font-size: 16px;
    background: #009f4d;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
}
.header .header_bot .fa-moon{
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
.header .header_inner .nav_header{
    display: flex;
}
.header .header_mid .sub_menu a{
    display: block;
    background-color: #fff;
    color: #3f3a64;
    width: 100%;
    padding: 8px 20px;
    
}
.header .header_mid{
    position: relative;
    display: flex;
    flex-direction: row;
}
.header .header_mid a{
    display: block;
}
.header .header_mid .sub_menu{
    border-radius: 10px;   
    width: 200px;
    position: absolute;
    top: 30px;
    right: 40px;
    background-color: #fff;
    padding: 5px 5px;
    display: none;
}
.header .header_mid .sub_menu::before{
    content: "";
    width: 14px;
    height: 14px;
    background-color:#fff;
    display: block;
    position: absolute;
    top: -7px;
    left: 49%;
    transform: translateX(-50%) rotate(-45deg);
}
.header .header_mid .MenuMain:hover .sub_menu{
    display: block;
}
.header .header_mid .MenuMain .sub_menu a:hover{
    color: #009f4d;
}
.header .container .navbar_toggler{
    display: none;
    

}
.sticky{
    background-color: #fff;
    color: #000;
    box-shadow: 0 5 15px rgba(255, 255, 255, 0.2);
    padding: 10px 0;
}
.sticky .header_logo span{
    color: #3f3a64;
}
.sticky .header_logo .header_logo_detal{
    color: #3f3a64;
}
.sticky .header_logo .fa-align-left{
    color:#3f3a64;
}
.sticky .header_mid a{
    color: #3f3a64;
}
.sticky .header_bot .fa-moon{
    color: #3f3a64 ;
}
.sticky .navbar_toggler i{
    color: #3f3a64;
}
header .header_mid a:hover{
    color: #fff;
}

#carouselExampleFade .carousel-caption h5{
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 18px;
    max-width: 800px;
    font-weight: 600;
}
#carouselExampleFade .carousel-caption p{
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    letter-spacing: 0.010em;
    opacity: 0.9;
}
#carouselExampleFade .carousel-caption button{
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    background-color: #00a63f;
    border-color: #00a63f;
    transition: all 1s;
}
#carouselExampleFade .carousel-caption button:hover{
    background-color: #3f3a64;
    border-color: #3f3a64;
}
#carouselExampleFade .carousel-caption{
    top: 50%;
    left: 30%;

    transform: translate(-50%,-50%);
    text-align: left;
}
.carosel_box{
    position: relative;
   
}
.carousel-item::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(29, 42, 55, 0.7);
   
}
.about{
    padding: 155px 0;
}
.about .container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
}
.about .about_col img{
    width: 100%;
    border-radius: 10px;
}
.about .about_col p{
    font-size: 14px;
    color: #7e7d7d;
    text-transform: uppercase;
    font-weight: 600;
}
.about .about_col h1{
    font-size: 35px;
    color: #3f3a64;
}
.about .about_col span{
    font-size:  17px;
    color: #666666;
}
.about ul {
    list-style-type: none;
    font-size: 18px;
    color: #3f3a64;
    font-weight: 600;
}
.about ul a{
    text-decoration: none;
    color: #3f3a64;
}
.about ul a i{
    color: #009f4d;
    margin-right: 10px;
}
.about ul li{
    margin: 10px 0;
    color: #3f3a64;
}
.about .col2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about .col3{
    padding-bottom: 50px;
}
.about .col4 {
    padding-top: 40px;
}
.about .col4 .about_img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.challenge{
    padding: 115px 0;
    background-color: #f7f7f7;
}
.challenge .challenge_row{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.challenge .challenge_row .challenge_right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.challenge .challenge_row .challenge_left span{
    font-size: 14px;
    color: #7e7d7d;
}
.challenge .challenge_row .challenge_left h1{
    font-size: 35px;
    color: #3f3a64;
    margin-bottom: 24px;
}
.challenge .challenge_row .challenge_left p{
    font-size: 17px;
    color: #666666;
}
.challenge .challenge_row .challenge_left .btn{
    font-size: 16px;
    padding: 15px 50px;
    font-weight: 600;
    line-height: 16px;
    border-radius: 10px;
    border: 1px solid transparent;
    background: #00a63f;
    color: #fff;
    margin-top: 50px;
    cursor: pointer;
    transition: all 1s;
}
.challenge .challenge_right .item{
    text-align: center;
    border-radius: 10px;
    padding: 40px 30px;
    transition: all 1s;
    background-color: #fff;
}
.challenge .challenge_right .item h3{
    margin-top: 10px;
    font-size: 22px;
    color: #3f3a64;
    transition:  all 1s;
}
.challenge .challenge_left .btn:hover{
    background-color: #248750;
}
.challenge .challenge_right .item:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.challenge .challenge_right .item a{
    text-decoration: none;
   
}
.challenge .challenge_right .item h3:hover{
    color: #00a63f;
}
.services {
    padding: 75px 0;
    text-align: center;
}
.services .title h1{
    font-size: 35px;
    color: #3f3a64;
}
.services .services_row {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.services .services_row .services_item img{
    width: 100%;
}
.services .services_row .services_item{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    
}
.services .services_row .services_item a{
    font-size: 19px;
    padding: 12px 35px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #fff;
    color: #3f3a64;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    position: relative;
    bottom: 30px;
    font-weight: 600;
    transition: all 0.5s;
}
.services .services_row .services_item p{
    font-size: 17px;
    color: #666666;
  
}
.services .services_row .services_item .btn{
    font-size: 16px;
    font-weight: 600;
    color: #3f3a64;
    padding: 8px 35px;
    margin-top: 16px;
    border: 1px solid transparent;
    background-color: #fff;
    transition: all 0.5s;
}
.services .services_row .services_item .btn:hover{
    color: #00a63f;
}
.services .services_row .services_item a:hover{
    color: #00a63f;
}
.gallery {
    text-align: center;
    background-color: #f8f9fa;
    margin-top: 75px;
}
.gallery .title p{
    font-size: 15px;
    color: #7e7d7d;
    font-weight: 600;
}
.gallery .title h1{
    font-size: 35px;
    color: #3f3a64;
    margin-bottom: 20px;
}
.gallery .main .gallery_row {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.gallery .main .gallery_row .gallery_item img{
    width: 100%;
    display: block;
    transition: all 0.5s;
}
.gallery .main .gallery_row .gallery_item{
    position: relative;
    overflow: hidden;
}
.gallery .main .gallery_row .gallery_item .content{
    position: absolute;
    bottom: -30px;
    left: 30px;
    text-align: left;
    visibility: hidden;
    transition: all 0.4s;
    opacity: 0;
    overflow: hidden;
    color: #fff;
}
.gallery .main .gallery_row .gallery_item:hover .content{
    transform: translateY(-100px);
    visibility: visible;
    opacity: 1;  
}
.gallery .main .gallery_row .gallery_item:hover img{
    transform: scale(1.2);
    filter: contrast(100%) brightness(50%);
}
.brand{
    margin-top: 50px;
    text-align: center;
    background-color: #f8f9fa;
}
.brand .brand_row{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 50px 100px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    gap: 30px;
}
.brand .brand_row img{
    width: 80%;
}
.success {
    margin: 75px 0;
}
.success .success_row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.success .success_row .success_item img{
    width: 100%;
    display: block;
}
.success .success_row .success_item{
    border-radius: 10px;
    overflow: hidden;
}
.success .success_row .success_item p{
    font-size: 15px;
    color: #7e7d7d;
}
.success .success_row .success_item h3{
    font-size: 35px;
    color: #3f3a64;
}
.success .success_item .progress_info1 .progress{
    height: 4px;
    width: 100%;
    background-color: #f7f7f7;
}
.success .success_item .progress_info1 h5{
    font-size: 18px;
    color: #3f3a64;
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80%;
}
.success .success_item .progress_info1 .progress .progress_bar{
    height: 4px;
    width: 80%;
    background-image: linear-gradient(
    -224deg, #0d8abc, #61fded);
    color: #0d8abc;
    position: relative;
}
.success .success_item .progress_info1 .progress .progress_bar::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -5px;
    border: 3px solid #0d8abc;
}
.success .success_row .success_item .progress_info2 .detail2{
    font-size: 18px;
    color: #3f3a64;
    display: grid;
    grid-template-columns: 1fr auto;
    width: 95%;
}
.success .success_row .success_item .progress_info2 .progress2{
    height: 4px;
    width: 100%;
    background-color:#f7f7f7 ;
}
.success .success_row .success_item .progress_info2 .progress2 .progress_bar2{
    height: 4px;
    width: 95%;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
    position: relative;
}
.success .success_row .success_item .progress_info2 .progress2 .progress_bar2::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 0%;
    top: -5px;
    border: 3px solid #eece90;
}
.success .success_row .success_item .progress_info3 .detail3{
    font-size: 18px;
    color: #3f3a64;
    display: grid;
    grid-template-columns: 1fr auto ;
    width: 60%;
}
.success .success_row .success_item .progress_info3 .progress3{
    height: 4px;
    width: 100%;
    background-color:#f7f7f7 ;
}
.success .success_row .success_item .progress_info3 .progress3 .progress_bar3{
    height: 4px;
    width: 60%;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
    position: relative;
}
.success .success_row .success_item .progress_info3 .progress3 .progress_bar3::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 0%;
    top: -5px;
    border: 3px solid #5c51ff;
}
.success .success_row .success_item .progress_info4 .detail4{
    font-size: 18px;
    color: #3f3a64;
    display: grid;
    grid-template-columns: 1fr auto ;
    width: 85%;
}
.success .success_row .success_item .progress_info4 .progress4{
    height: 4px;
    width: 100%;
    background-color:#f7f7f7 ;
}
.success .success_row .success_item .progress_info4 .progress4 .progress_bar4{
    height: 4px;
    width: 85%;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
    position: relative;
}
.success .success_row .success_item .progress_info4 .progress4 .progress_bar4::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 0%;
    top: -5px;
    border: 3px solid #e5529a;
}
.success .success_row .success_item .progressall{
    margin-bottom: 30px;
}
.feedback{
    text-align: center;
}
.feedback .title p{
font-size: 14px;
margin-bottom: 4px;
color: #7e7d7d;
}
.feedback .title h1{
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
    color: #3f3a64;
}

.feedback_box{
    max-width: 900px;
    padding: 40px 30px;
    margin: 0 auto;
}
.feedback .feedback_content{
    text-align: center;
}
.feedback .feedback_content .feedback_top p{
    font-size: 18px;
    line-height: 28px;
    opacity: 0.8;
    color: #666;
}
.feedback .feedback_content .feedback_bottom .thumner{
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    text-align: right;
}
.feedback .feedback_content .feedback_bottom img{
    width: 100%;
    min-height: 100%;
    
}
.feedback .feedback_content .feedback_bottom{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: center;
    text-align: left;
    align-items: center;
}
.feedback .feedback_content .feedback_bottom .feedback_name h3{
    font-size: 20px;
    font-weight: 600;
    color: #3f3a64;
}
.feedback .feedback_content .feedback_bottom .feedback_name p{
    font-size: 17px;
    line-height: 27px;
    color: #666;
}
.latenews {
    margin: 75px 0;
}
.latenews .title{
    text-align: center;
}
.latenews .title p{
    font-size: 15px;
    color: #7e7d7d;
}
.latenews .title h1{
    font-size: 35px;
    color: #3f3a64;
}
.latenews .main .latenews_row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.latenews .main .latenews_row .late_item .first_card{
    overflow: hidden;
}
.latenews .main .latenews_row .late_item .first_card img{
    width: 100%;
    transition: all 0.4s;
    display: block;
}
.latenews .main .latenews_row .late_item{
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.latenews .main .latenews_row .late_item .mid_card {
    margin-left: 20px;
    padding: 20px;
}
.latenews .main .latenews_row .late_item .mid_card a{
    text-decoration: none;
}
.latenews .main .latenews_row .late_item .mid_card span{
    font-size: 15px;
    color: #7e7d7d;
}
.latenews .main .latenews_row .late_item .mid_card h3{
    font-size: 22px;
    color: #3f3a64;
    margin-top: 10px;
    transition: all 0.4s
}
.latenews .main .latenews_row .late_item .last_card {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 30px;
    padding-left: 30px;
    align-items: center;
    border-top: 1px solid rgba(0 , 0, 0, 0.15);
}
.latenews .main .latenews_row .late_item .last_card a{
    font-weight: 600;
    text-decoration: none;
    transition: all 0.4s;
}
.latenews .main .latenews_row .late_item .last_card span{
    color: #7e7d7d;
}
.latenews .main .latenews_row .late_item .last_card .blog_date p{
    color: #7e7d7d;
}
.latenews .main .latenews_row .late_item:hover .first_card img{
    transform: scale(1.2);
}
.latenews .main .latenews_row .late_item .mid_card h3:hover {
    color: #00a63f;
}
.latenews .main .latenews_row .late_item .last_card .blog_meta a:hover{
    color: #00a63f;
}
.subscribe{
    margin-top: 100px;
    background-image:url(/img/map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    background-color: #000;
    text-align: center;
}
.subscribe .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.subscribe .title{
    background-color: transparent;
    color: #fff;
}
.subscribe .title h1 {
    font-size: 40px;
    font-weight: 600;
}
.subscribe .container .sub{
    width: 550px;
    display: grid;
    grid-template-columns: 50px 1fr auto;
    
}
.subscribe .container .icon{
    height: inherit;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0 , 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.subscribe .container .icon i{
    font-size: 16px;
    color: #7e7d7d;
    padding: 0 15px;
}
.subscribe .container input{
    padding: 14px 20px;
    font-size: 16px;
    line-height: 28px;
    width: 100%;
    background-color: rgba(0 , 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.subscribe .container .btn_subscri{
    padding: 0 25px;
    font-size: 16px;
    background-color: #00a63f;
    border-color: #00a63f;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.subscribe .container .btn_subscri:hover{
    background-color: #248750;
}
.footer{
    
    padding: 75px 0;
    color: #7e7d7d;
    background-color: #11101a;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer .footer_row{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
    gap: 30px;
}
.footer .footer_row .footer_item a{
    text-decoration: none;
    color: #7e7d7d;
}
.footer .footer_row .footer_item{
    line-height: 28px;
}
.footer .footer_row .footer1 .fa-align-right{
    color: #d45529;
    font-size: 30px;
}
.footer .footer_row .footer1 p{
    font-size: 15px;
    margin-left: 40px;
    color: #fff;
}
.footer .footer_row .footer_item .footer_item_title{
    color: #fff;
}
.footer .footer_row .footer1 span{
    color: #fff;
    font-size: 30px;
}
.footer .footer_row .footer1 .conten_footer{
    margin-left: 0;  
    margin-top: 24px;
    color: #7e7d7d;
    font-size: 18px;
}
.footer .footer_row .footer1 .footer_icon{
    margin-top: 24px;
}
.footer .footer_row .footer1 .footer_icon i{
    margin-right: 5px;
    cursor: pointer;
}
.footer .footer_row .footer_item h1{
  
    font-size: 22px;
}
.footer .footer_row .footer_item ul{
    list-style-type: none;
    font-size: 18px;
    margin-top: 25px;
}
.footer .footer_row .footer_item a:hover{
    color: #fff;
}
.copyright{
    text-align: center;
    color: #7e7d7d;
    font-size: 18px;
    background-color: #11101a;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px 0;
}
.copyright a{
    text-decoration: none;
    color: #00a63f;
}
.btn_back_to_up{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 18px;
    background-color: #00a63f;
    color: #fff;
    border: 1px solid #00a63f;
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
}
.bar_scroll{
    position: fixed;
    right: 0;
    top: 140px;
    width: 90px;
    background: #0D1326;
    color: #fff;
    padding: 40px 5px 10px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 99;
}
.bar_scroll a{
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.6);
    transition:  all 1s;
}
.bar_scroll i{
 display: block;
}
.bar_scroll .bar_scroll_mid{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 20px;
}
.bar_scroll a:hover{
    color: #fff;
}
@media screen and(max-width:1200px){

}
@media screen and (max-width:992px){

}
@media screen and (max-width:768px){
    .header .container .navbar_toggler{
        display: inline-block;
        font-size: 32px;
        border: transparent;
        background-color: transparent;
        color: #fff;
    
    }
    .sticky .navbar_toggler{
        color: #3f3a64;
    }
    .header .header_mid{
        display: none;
    }
    .carousel h1{
        font-size: 50px;
    }
    .carousel p {
        font-size: 18px;
    }
    .about .container{
        display: block;
    }
    .about .col4 .about_img{
        display: block;
    }
    .about .col4{
        padding: 0px;
    }
    .challenge .challenge_row{
        display: block;
    }
    .challenge .challenge_row .challenge_right{
        display: block;
    }
    .services .services_row{
        display: block;
    }
    .gallery .main .gallery_row{
        display: block;
    }
    .gallery .main .gallery_row .gallery_item {
        margin-bottom: 30px;
    }
    .success .success_row{
        display: block;
    }
    .brand .brand_row{
        display: block;
    }
    .brand .brand_row img {
        width: 50%;
        margin-bottom: 10px;
    }
    .latenews .main .latenews_row{
        display: block;
    }
    .latenews .main .latenews_row .late_item {
     margin-bottom: 30px;
    }
    .footer .footer_row{
    display: block;
    }
    .subscribe .container .sub{
        width: auto;
    }
}
@media screen and (max-width:576px){
    .subscribe .container .sub{
        width: auto;
    }
}
